html {
    background: url("ice.jpeg") no-repeat center center;
    height: 100%;
    background-size: cover;
    color: white;
}

body {
    min-height: 100%;
    background: url("ice.jpeg") no-repeat center center;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    padding: 30px;
    flex: 1 1 auto;
}

* {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: rgb(59, 61, 68) 2px solid;
    background: rgba(70, 74, 83, 0.7);
    border-radius: 8px;
}

.menu ul {
    list-style: none;
}

.menu > ul {
    justify-content: left;
    margin-left: 5%;
}

.menu > ul li {
    display: inline-block;
    position: relative;
    float: left;
}

.menu > ul > li {
    padding: 5px 0;
}

.menu > ul li a {
    display: block;
    background: rgba(47, 49, 55, 0.9);
    border-left: rgb(59, 61, 68) 2px solid;
    border-radius: 8px;
    color: white;
    min-width: 130px;
    width: 150px;
    padding: 20px 50px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
    text-align: center;
}

.menu li a:hover {
    background: rgba(145, 149, 161, 1);
    color: black;
    transition: all 0.3s ease;
}

.menu li ul {
    display: none;
    position: absolute;
    min-width: 120px;
}

.menu li > ul li {
    background: rgba(35, 37, 41, 0.9);
    border: rgb(59, 61, 68) 2px solid;
    border-radius: 8px;
    left: -1px;
}

.menu li > ul li a {
    text-decoration: none;
    width: 190px;
}

.menu li:hover > ul {
    display: block;
}

.searchAnything {
    float: right;
    font-size: 20px;
    margin-top: 8px;
    margin-right: 13%;
    border: rgb(59, 61, 68) 2px solid;
    background: rgba(47, 49, 55, 0.9);
    padding: 10px 30px;
    border-radius: 8px;
}

.searchAnything span {
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 10px;
}

.clearfix {
    clear: both;
}

article {
    margin-top: 40px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: rgb(59, 61, 68) 2px solid;
    background: rgba(159, 163, 173, 1);
    padding: 10px;
    border-radius: 15px;
}

.cat img {
    width: 300px;
    float: left;
    margin-right: 15px;
}

.cat h3 {
    font-size: 30px;
    border: rgb(59, 61, 68) 2px solid;
    background: rgba(70, 74, 83, 0.6);
    border-top-right-radius: 15px;
}

.cat p {
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: 10px;
    color: rgb(47, 49, 55);
    font-weight: 550;
    line-height: 1.2em;
}

.footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 30px;
}
