html {
    background: url("ice.jpeg") no-repeat center center;
    min-height: 100%;
    background-size: cover;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: rgb(59, 61, 68) 2px solid;
    background: rgba(82, 85, 94, 0.75);
    border-radius: 8px;
}

.menu ul {
    list-style: none;
}

.menu > ul {
    justify-content: left;
    padding: 20px;
    margin-bottom: 20px;
}

.menu > ul li {
    display: inline-block;
    position: relative;
    float: left;
    min-width: 150px;
}

.menu > ul li:first-child {
    border-left: darkorchid 1px solid;
}

.menu > ul li a {
    display: block;
    background: antiquewhite;
    padding: 15px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.menu li a:hover {
    background: darkgray;
    transition: all 0.3s ease;
}

.menu li ul {
    display: none;
    position: absolute;
    min-width: 150px;

}

.menu li > ul li {
    border: darkorchid 1px solid;
}

.menu li > ul li a {
    padding: 10px;
    text-decoration: none;
}

.menu li:hover > ul {
    display: block;
}

.searchAnything {
    float: right;
    padding-top: -40px;
}

.clearfix {
    clear: both;
}

